<div class="mt-4 ml-4 mb-4">
  <button>
    <a href="users/create" class="btn-create">Create</a>
  </button>
</div>
<div class="" style="padding: 10px;">
    <table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">ID User</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Time Create</th>
        </tr>
    </thead>
    <tbody>
        {{#each user}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this._id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/users/{{this._id}}" class="btn btn-link">Details</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-user" data-id="{{this._id}}">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-user" class="btn btn-danger" type="button">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
 
<form name="delete-user-form" method="POST"></form>

<script>
    var userId;
    var deleteForm = document.forms['delete-user-form']
    var deleteUser= document.getElementById('btn-delete-user')

    document.addEventListener('DOMContentLoaded', function() {
        $('#delete-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            userId = button.data('id') 
        })
    });
    deleteUser.onclick = () => {
        deleteForm.action = '/users/'+userId+'?_method=DELETE'
        deleteForm.submit();
    }
</script>